{% extends "base22.html" %}
{% load i18n static crispy_forms_tags %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Account Activated | Pycon Ghana" %}{% endif %}{% endblock %}


{% block content %}

<!-- ========== HEADER ========== -->
{% include '2022/header.html' %}
<!-- ========== END HEADER ========== -->
 
    <!--================ Breadcrumb ================-->
    <div class="mad-breadcrumb">
        <div class="container">
          <h1 class="mad-page-title mad-title-with-line"> Account Activated</h1>
          <nav class="mad-breadcrumb-path"><span><a href="/">Home</a></span>/<span>Sign up</span>
          </nav>
        </div>
      </div>
      <!--================ End of Breadcrumb ================-->

      <section class="mad-section size-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="container">
                    <div class="row mad-row-size-2">
                      <div class="col-lg-4"> 
                        <div class="img-with-vector vector-2">
                            <img src="{% static '2022/images/315x315_img1.png' %}" alt=""> 
                          </div> 
                      </div>
                      <div class="col-lg-6"> 
                        <div class="align-center">
                            <h4>Activation completed! 😊</h3> 
                            {% if not user.is_authenticated %}
                            <div class="btns"> 
                                <a href="/accounts/login"" class="btn btn-style-2" style="background-position: 0px 54px;"><i class="fa-solid fa-id-card"></i> <b>Log in here</b> </a>
                              </div> 
                          {% endif %}
                          </div>
                        
                      </div> 
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </section>
 
{% endblock %}

  


{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}
