{% extends "base22.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Home | Pycon Ghana 2018" %}{% endif %}{% endblock %}


{% block content %}

<!-- ========== HEADER ========== -->
{% include '2022/headerhome.html' %}
<!-- ========== END HEADER ========== -->


    <!--================ Slider Revolution ================-->
    <div dir="ltr" class="rev_slider_wrapper fullscreenbanner-container">
        <div id="rev-slider-2" data-version="5.4.5" class="mad-d-none rev-slider fullscreenabanner">
          <ul>
            <!--================ Slide 1 ================-->
            <li data-transition="fade">
              <!-- MAIN IMAGE -->
              <img src="{% static '2022/images/header.png' %}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
              <!-- LAYER NR. 1 -->
              <div class="tp-caption tp-resizeme rs-parallaxlevel-1" data-x="right" data-hoffset="0" data-y="center"
                data-voffset="-240" data-width="['none','none','none','none']" data-height="['none','none','none','none']"
                data-type="image" data-responsive_offset="on"
                data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":500,"ease":"Power2.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
                data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
                <img src="{% static '2022/images/circle-vector1.png' %}" alt="" data-no-retina>
              </div>
              <!--================ End of Layer ================-->
              <!--================ Layer ================-->
              <div
                data-frames="[{&quot;delay&quot;:400,&quot;speed&quot;:2000,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power4.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1000,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
                data-x="['right', 'right', 'center', 'center']" data-y="center" data-hoffset="['50', '30', '0', '0']" data-voffset="['-50', '-50', '-50', '-30']"
                data-width="['620','620','620','620']" data-height="['auto']" data-textAlign="['center']" data-color="['#fff']"
                data-fontsize="['72', '72', '72', '48']" data-lineheight="['90', '90', '90', '60']" class="tp-caption tp-resizeme tp-layer-section-title rs-parallaxlevel-2">
                PyCon Ghana  <br>2022</div>
              <!--================ End of Layer ================-->
              <!--================ Layer ================-->
              <div
                data-frames="[{&quot;delay&quot;:200,&quot;speed&quot;:2000,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power4.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1000,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
                data-x="['right', 'right', 'center', 'center']" data-y="center" data-hoffset="['50', '30', '0', '0']" data-voffset="['110', '110', '110', '100']" data-width="['620','620','620','620']"
                data-height="['auto']" data-textAlign="['center']" data-color="['#2bbfb3']" data-fontsize="['24']"
                data-lineheight="[30']" class="tp-caption tp-resizeme tp-layer-section-subtitle rs-parallaxlevel-2"> 
              </div>
              <!--================ End of Layer ================-->  
            </li>
            <!--================ End of Slide 1 ================-->
          </ul>
        </div>
      </div>
      <!--================ End of Slider Revolution ================-->
    
   
{% endblock %}
