{% extends "base2.html" %}
{% load i18n static %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Accommodation | Pycon Ghana 2018" %}{% endif %}{% endblock %}

{% block content %}
<header id="top" class="sub-header">
        <div class="container">
        </div>
        <!-- end .container -->
    </header><br><br>
    <!-- end .sub-header -->
    <!--
     Our Schedule
     ====================================== -->

    <section class="schedule" id="schedule">
        <div class="col-md-12">
            <div class="panel panel-danger wow fadeInLeft">
                <div class="container">
                    <h5 class="page-title wow fadeInDown">Accommodation</h5><br>
                    <!-- Accommodation
                    ==================================== -->
                    <section class="accommodation">
                        <div class="container">
                             <div class="wow fadeInUp">
                                <h6><strong>Where to stay</strong></h6>
                                <p> All hotels/hostels/ are conveniently located and are few minutes drive to the venue. Finding a good hotel/hostels can be tricky. So here are some of our favorite hotels/hostels nearby the event location</p>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail wow fadeInUp">
                                        <div class="caption">
                                            <h6 class="caption-title">M Suites Hotel</h6>
                                            <p class="caption-text" style="color:red">From US$ 80 per night</p>
                                            <p class="text-center"><a href="http://www.msuiteshotelgh.com" target="blank" class="btn btn-outline" role="button">Visit Website</a> </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail wow fadeInUp" data-wow-delay="0.3s">
                                        <div class="caption">
                                            <h6 class="caption-title">Mensvic Grand Hotel</h6>
                                            <p class="caption-text" style="color:red">From US$120 per night</p>
                                            
                                            <p class="text-center"><a href="http://mensvicgrandhotel.com-accra.com/" target="blank" class="btn btn-outline" role="button">Visit Website</a> </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail wow fadeInUp" data-wow-delay="0.6s">
                                        <div class="caption">
                                            <h6 class="caption-title">Erata Hotel</h6>
                                            <p class="caption-text" style="color:red">From US$110 per night</p>
                                            <p class="text-center"><a href="http://www.eratahotel.com/" target="blank" class="btn btn-outline" role="button">Visit Website</a> </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail wow fadeInUp" data-wow-delay="0.6s">
                                        <div class="caption">
                                            <h6 class="caption-title">Oak Plaza Hotel</h6>
                                            <p class="caption-text" style="color:red">From US$135.00 per night</p>
                                            <p class="text-center"><a href="https://eastlegon.oakplazahotel.com/" target="blank" class="btn btn-outline" role="button">Visit Website</a> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- end .container -->
                    </section>
                     <section class="accommodation">
                        <div class="container">
                             <div class="wow fadeInUp">
                                <h6><strong>Personal Apartment (AirBnb)</strong></h6>
                                
                            </div>

                            <div class="row">
                                
                                <div>
                                    <div class="thumbnail wow fadeInUp" data-wow-delay="0.6s">
                                        <div class="caption">
                                            <h6 class="caption-title">Search for Apartments around University of Ghana</h6>
                                            <p class="caption-text" style="color:red">From US$30 per night</p>
                                            <p class="text-center"><a href="https://www.airbnb.com/s/University-Of-Ghana--Accra--Ghana/homes?refinement_paths%5B%5D=%2Fhomes&checkin=2018-08-09&checkout=2018-08-11&adults=1&children=0&infants=0&guests=1&query=University%20Of%20Ghana%2C%20Accra%2C%20Ghana&allow_override%5B%5D=&ne_lat=5.661022802502412&ne_lng=-0.17244039188290117&sw_lat=5.629192385795116&sw_lng=-0.20634351383114335&zoom=14&search_by_map=true&s_tag=Y-c8ncqR" class="btn btn-outline" target="blank" role="button">Visit Website</a> </p>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>

                        </div>
                        <!-- end .container -->
                    </section>
                    <section class="accommodation">
                        <div class="container">
                             <div class="wow fadeInUp">
                                <h6><strong>Hostels</strong></h6>
                                
                            </div>

                            <div class="row">
                                
                                <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail wow fadeInUp" data-wow-delay="0.6s">
                                        <div class="caption">
                                            <h6 class="caption-title">GIMPA Executive Hostel</h6>
                                            <p class="caption-text" style="color:red">From US$77 per night</p>
                                            <p class="text-center"><a href="https://docs.google.com/forms/d/e/1FAIpQLSeebouRa70dU1m1UpaefNupe5pQhTl7qDDfB1Ur1o-eP12cEQ/viewform?usp=pp_url" class="btn btn-outline" target="blank" role="button">Reserve</a> </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail wow fadeInUp" data-wow-delay="0.6s">
                                        <div class="caption">
                                            <h6 class="caption-title">Dr. Hilla Liman Hall</h6>
                                            <p class="caption-text" style="color:red">From GHC33 / US$6.88 per night</p>
                                            <p>4 in a Room</p>
                                            <p class="text-center"><a href="https://docs.google.com/forms/d/e/1FAIpQLSeebouRa70dU1m1UpaefNupe5pQhTl7qDDfB1Ur1o-eP12cEQ/viewform?usp=pp_url" class="btn btn-outline" target="blank" role="button">Reserve</a> </p>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                             <p><b>Note</b> that the Hostels are International Hostels</p>

                        </div>
                        <!-- end .container -->
                    </section>
                    <!-- end section.accommodation -->
                <h6 class="faq-title">Questions.</small></h6>
                            <div class="col-xs-12">
                                <p>Are you looking for a roommate to share the cost of a hotel/hostel room? Head over to the <a href="https://groups.google.com/forum/#!forum/pycon-ghana-public" target="blank" >Room Sharing page</a>
                                to find other members of the community who are also looking to share!</p><br>
                                <p>
                                    If you have questions or issues with Hotel/Hostel bookings, please send an email to:<a href="mailto:organizers@pyconghana.org"> organizers@pyconghana.org</a>
                                </p>
                            </div>
                </div>
                <!-- end .container -->
            </div>
        </div>

    </section>
    <!-- end section.schedule -->

{% endblock %}