beautifulsoup4
certifi
chardet
cloudinary
coverage
coveralls
defusedxml
django-anymail
django-appconf
django-avatar
django-cloudinary-storage
django-crispy-forms
django-extensions
django-jet
django-markitup 
django-newsletter
django-recaptcha
django-sendgrid-v5
django-tinymce
django-webtest
djangorestframework
docopt
docutils
feedparser
flake8
google-api-python-client
httplib2
idna
invoke
isort
ldif3
Markdown
mccabe
mock
oauth2client
oauthlib
pbr
Pillow
pluggy 
py
pyasn1
pyasn1-modules
pycodestyle
pyflakes
python-card-me
python-dateutil
python-http-client
python3-openid
pytz
requests
requests-oauthlib
rsa
sendgrid
six
sorl-thumbnail
surlex
tox
tox-travis
unicodecsv
uritemplate
urllib3
waitress
WebOb
WebTest
